*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: VT3;
    src: url("VT323-Regular.ttf");
}

#command-input{
    background-color: #0000;
    color: #eee;
    font-family: VT3;
    font-size: 22px;
    caret-color: red;
    padding: 8px;
    border-style: none;
    width: 100%;
    height: 100%;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
}

.console{
    background-color: #6660;
    width: 80vw;
}

.console__screen{
    background-color: #333;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 138px;
    margin-bottom: 32px;
}

.console__input{
    background-color: #333;
    width: 100%;
    height: 69px;
}